ion-content{
  #schedulesContainer {
    display: flex;
    flex-wrap: wrap;
    #schedulesSegments{
      overflow-x: scroll;
      border-bottom: 1px solid var(--ion-color-wsdc-darkgrey);
      background-color: white;
      overflow-x: scroll;
      ion-segment-button {
        --background-checked: var(--ion-color-wsdc-green);
        --color-checked: white;
        --indicator-color-checked: none;
        --border-radius: 50%;
        --background-hover: none;
        --background-hover-opacity: none;
        width: 48px;
        height: 48px;
        padding: 2px;
        margin: 8px;
        border-radius: 50%;
        border: none;
        .day{
          height: 16px;
          line-height: 16px;
          font-size: 12px;
          text-align: center;
          text-transform: uppercase;
        }
        .date {
          height: 14px;
          line-height: 14px;
          font-size: 14px;
          font-weight: bold;
          text-align: center;
        }
      }
      ion-segment {
        white-space: nowrap;
        height: 100%;
      }
    }

    #schedulesSlides{
      ion-slides {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: auto;
        ion-list{
          ion-item {
            display: grid;
            grid-template-columns: auto auto;
            ion-note {
              margin-top: 5px;
              margin-right: 20px;
              margin-bottom: 5px;
              padding-left: 10px;
              padding-top: 15px;
              font-weight: bold;
              font-size: 18px;
              color: var(--ion-color-wsdc-green);
              border-left: 1px solid var(--ion-color-wsdc-green);
              height: 90%;
            }
            ion-label{
              margin-top: 7px;
              margin-bottom: 7px;
              h3 {
                margin-top: 5px;
                font-size: 18px;
                font-weight: bold;
              }
              p {
                font-size: 16px;
                font-weight: normal;
              }
            }
          }
          
        }
      }
    }
  }
}