<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backToVenue()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Venues</ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
  <div id="mapContainer"></div>
</div>

<!-- //deprecated scroll in ionic 5 -->
<ion-content scrollX="true"> 
  <ion-label>
    <h3 #pagetitle id="pagetitle">{{venuesPage.name}}</h3>
  </ion-label>

  <ion-list>
    <ion-item *ngFor="let venue of venuesMapsDetail; let i=index">
      <div>
        <div class="venuesDescContainer" *ngFor="let properties of venue.geojson.features; let j = index">
          <div class="venueDesc" (click)="featTapped(properties.geometry.coordinates)">
            <h2>{{properties.properties.Name}}</h2>
            <p>{{properties.properties.Description}}</p>
          </div>
          <div class="venuesDist" #distance>
            <p>{{userDistanceTo[j]}}</p>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
