/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */



@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

    /* ion-navbar change to ion-toolbar */
ion-toolbar{
    --opacity: 0;
    background-color: white;
    background-image: url("assets/icon/icon-header.png");
    background-size: auto 80%; 
    background-position: right;
    background-repeat: no-repeat;
    padding: 5px, 20px;
    ion-title{
        font-size: 16px;
        padding: 0px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }
}

    /* Navigation menu */
ion-menu {
    ion-icon {
        font-size: 25px;
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle;
    }
    ion-list-header {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }
    ion-label {
        display: inline-block;
        vertical-align: middle;
    }
}
    
.wsdc-main-heading {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-family: "Gotham";
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 4px;
}

.wsdc-heading {
    font-family: "Gotham";
    font-size: 1.6rem;
    font-weight: 900;
}

.wsdc-sub-heading {
    font-family: "Gotham";
    font-size: 1.4rem;
    font-weight: bold;
}

.wsdc-content {
    font-family: "Gotham";
    font-size: 1.3rem;
    font-weight: normal;
}
