<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card (click)="onAnnouncementClick()">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-card-header>
            <ion-card-title>Latest Announcement</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              <h3>{{ formatDatetime(wsdcData?.announcements[0].localtime) }}</h3>
              <p>{{ wsdcData?.announcements[0].message }}</p>
          </ion-card-content>
        </ion-col>
        <ion-col size="3">
          <img src="assets/icon/announcement.png"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-icon name="book-outline"></ion-icon>
      <ion-label class="label_newsletters"><h1><b> Newsletters</b></h1></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let wsdcNews of wsdcData?.newsletters;">
      <div class="newsletters" >
        <img src="http://wsdc.dnartworks.com/uploads/newsletter/{{wsdcNews.id}}/thumbnail.jpg">
        <h2 text-wrap>{{wsdcNews.title}}</h2> <br>
        <ion-button class="ion-padding-end" full block color="danger" (click)="launch(wsdcNews.url)">Read More</ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
